.p-tree {
    .p-tree-container {
        .p-treenode {
            outline: 0 none;
            
            &:focus > .p-treenode-content {
                background: $emphasis-lower;

                &.p-highlight {
                    background: rgba($primaryColor, .24);
                }
            }
        }
    }
}
