/* General */
$scale:14px;                    /* main font size */ 
$borderRadius:5px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.5s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 
