/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';

/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #68686870;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
:root {
    --primary-color:#BF0811;
  }